                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                CCNP (Cisco Certified Network Professional)
                                     • Function of a Switch
                                     • Switching operation
                                     • L2 switch operations
                                     • Multi-layer switching
                                     • VLANs and Trunks
                                     • Dot1Q, ISL, DTP
                                     • Inter VLAN routing
                                     • VTP, VTP Pruning
                                     • Link Aggregation-LACP PAgP
                                     • STP-CSTP, PVSTP, RSTP MSTP
                                     • High availability
                                     • First hope redundancy protocol
                                     • HSRP, VSRP
                                     • Campus network design
                                     • IP Telephony
                                     • Switch maintenance and security
                                     • CCNP Route
                                     • Summarisation, Authentication,
                                     • Filtering, Tagging and redistribution of RIP
                                     • Summarisation, Authentication, Filtering,
                                     • Tagging and redistribution of EIGRP
                                     • Stub networks in EIGRP
                                     • Summarisation, Authentication, Filtering,
                                     • Tagging and redistribution of OSPF Protocol
                                     • LSA and LSA types
                                     • Stub network in OSPF
                                     • Understanding TSA and NSSA
                                     • Advance routing, Advance
                                     • redistribution Policy based routing,
                                     • BGP Protocol, EGBP Properties, IBGP
                                     • Synchronisation Confederation and
                                     • router reflector, BGP Community, BGP
                                     • attributes, Route aggregation, Route
                                     • Filtering, IPv6, Neighbor discovery
                                     • protocol, IPv6 dynamic routing with
                                     • RIPng, OSPF v3 and EIGRP
                                     • IPv6 transition from IPv4.
                            </p>

                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/ccnp.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>CCNP</a> </h4>

                                <div class="price"> Networking</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>25 Reviews</li>
                                </ul> 

                                <p> Function of a Switch, Switching operation, L2 switch operations, Multi-layer switching, VLANs and Trunks, Dot1Q [. . .].</p>
                            </div><!-- /.course-content -->
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                Deploying and Managing Windows Server 2012 – Active Directory Domain Services – User and Service Accounts – DHCP – DNS – Group Policy – Local Storage – Server Virtualisation with Hyper – V –VPN – Distributed File System – AD DS Sites and Replication – Network and Load Balancing – File and Print Services – Hyper – V Live Migrations
                            </p>

                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/mcse.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>MCSE</a> </h4>

                                <div class="price"> Networking</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>25 Reviews</li>
                                </ul> 

                                <p> Deploying and Managing Windows Server 2012 – Active Directory Domain Services – User and Service Accounts  [. . .]</p>
                            </div><!-- /.course-content -->
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                General Networking Theory | General Routing Concepts | Routing Information Base(RIB) and Routing Protocols Interaction | Redistribution | Bridging and LAN Switching | Spanning Tree Protocol (STP) | LAN Switching | IP | Addressing | Services | Network Management | IP Routing | OSPF | BGP | EIGRP | Policy Routing | QoS | WAN | IP Multicast | Security | MPLS (New) | IPv6 (New)
                            </p>

                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/ccie.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>CCIE</a> </h4>

                                <div class="price"> Networking</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>25 Reviews</li>
                                </ul> 

                                <p> General Networking Theory | General Routing Concepts | Routing Information Base(RIB) and Routing Protocols [. . .]</p>
                            </div><!-- /.course-content -->
                        </div>


                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                Configuring static routes, packet filtering, and network address translation | Setting kernel runtime parameters | Configuring an Internet Small Computer System Interface (iSCSI) initiator | Producing and delivering reports on system utilization | Using shell scripting to automate system maintenance tasks | Configuring system logging, including remote logging | Configuring a system to provide networking services, including HTTP/HTTPS, file Transfer Protocol (FTP), network file system (NFS), server message block (SMB), Simple Mail Transfer Protocol (SMTP), secure shell (SSH) and Network Time Protocol (NTP)
                            </p>

                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/rhce.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>RHCE </a> </h4>

                                <div class="price"> Networking</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>25 Reviews</li>
                                </ul> 

                                <p> Configuring static routes, packet filtering, and network address translation | Setting kernel runtime parameters [. . .].</p>
                            </div><!-- /.course-content -->
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                General Introduction, Introduction to SharePoint, SharePoint Installation and Administration, SharePoint Site Hierarchy, Lists, Create View, Predefined List & Libraries, Communication Lists,Tracking ListsUsers, Groups and Permissions,Claim Based Authentication, Enterprise Content Management, User Profile Service Administration, Administering and configuring Search, Business Intelligence, SharePoint API, SharePoint Tools for Visual Studio 2010, Feature Types, Lists and Event Handling, Working with Web Parts, Sandboxed Solutions,InfoPath, Business Connectivity Service, Workflow, Working with external data sources, Working with Workflows, SharePoint Designer.
                            </p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/sharepoint.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>SharePoint </a> </h4>

                                <div class="price"> Software</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>Rating</li>
                                </ul> 

                                <p>  General Introduction, Introduction to SharePoint, SharePoint Installation and Administration, SharePoint [. . .].</p>
                            </div><!-- /.course-content -->
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                RMI, XML, Java Mail API, Java Message Service [JMS], Web Services, Enterprise Java Beans, Hibernate, Spring, Struts, AJAX.
                            </p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/j2ee.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>J2EE </a> </h4>

                                <div class="price"> Software</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>Rating</li>
                                </ul> 

                                <p>  RMI, XML, Java Mail API, Java Message Service [JMS], Web Services, Enterprise Java Beans,Hibernate, Spring [. . .].</p>
                            </div><!-- /.course-content -->
                        </div>



                       <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                Introduction, Basic PHP Development, Control Structures, Functions Working With The File System, Working With Forms, Working With Regular Expressions, Classes And Objects, Introduction To Database, Cookies, Session Disk Access, I/O, Math And Mail, Joomla (Content Management System And Web Application Framework), Smarty (Library For Creating HTML Templates) PEAR (PHP Extension and Application Repository), Cake PHP (Rapid Development Framework), AJAX (Asynchronous JavaScript and XML), osCommerce (Open Source Shopping Cart)
                            </p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>
                                <a><img src="images/index/php.jpg" alt="Course1"></a>
                            </div>
                            <div class="course-content">
                                <h4><a>PHP & MySQL </a> </h4>
                                <div class="price"> Software</div>
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li>Rating</li>
                                </ul> 
                                <p>  Introduction, Basic PHP Development, Control Structures, Functions Working With The File System, Working [. . .].</p>
                            </div>
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                Advanced Java Programming (J2EE) (Web-Server & Support Technologies). Java Database Connectivity, Servlets, Servlet Interaction & Advanced Servlets, JavaServerPages, RMI, EJB, XML, Structs, MVC Architecture, Hibernate, Overview of the Course XML, Servlet, JSP, JDBC, RMI, Introduction to XML Markup, Document Type Definition, XML Schema, Handling HTTP get Requests, Multi-Tier Applications, JBCD from Servelet, JavaBeans Component Model
                            </p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>
                                <a><img src="images/index/advjava.jpg" alt="Course1"></a>
                            </div>
                            <div class="course-content">
                                <h4><a>Advanced Java </a> </h4>
                                <div class="price"> Software</div>
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li>Rating</li>
                                </ul> 
                                <p>  Java Database Connectivity, Servlets, Servlet Interaction & Advanced Servlets, JavaServerPages [. . .].</p>
                            </div>
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">In engineering education, there are lot of circuits the students need to Familiarize, Learn & Design. The workings of these circuits are learned from books by just reading. But to understand a circuit more, students should see its real time working; see the changes that will happen as design changes etc. By learning Circuit Simulation software, the students can do all the aforesaid steps to analyse their circuits and thereby can make the learning easy & more effective. Our Circuit Simulation Workshop uses Proteus which has both Interactive & Graph based simulation methods.</p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>
                                <a><img src="images/index/circuit.jpg" alt="Course1"></a>
                            </div>
                            <div class="course-content">
                                <h4><a>Circuit Simulation </a> </h4>
                                <div class="price"><span style="font-family: initial;"></span> Embedded</div>
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li>25 Reviews</li>
                                </ul> 
                                <p>  In engineering education, there are lot of circuits the students need to Familiarize, Learn & Design.   [. . .].</p>
                            </div>
                        </div>