

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                • Operation of IP Data Networks
                                • LAN switching technologies
                                • IP Addressing (IPv4/IPv6)
                                • IP Routing and Technologies
                                • IP services
                                • Network Device Security.WAN Technologist
                            </p>

                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/ccna.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>CCNA</a> </h4>

                                <div class="price"> Networking</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>25 Reviews</li>
                                </ul> 

                                <p> Operation of IP Data Networks, LAN switching technologies, IP Addressing (IPv4/IPv6), IP Routing and Technologies [. . .]</p>
                            </div><!-- /.course-content -->
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                .NET Frameworks, Web Programming Concepts, C# Advanced Features, LINQ Windows application programming, Database Connectivity Using ADO.NET, Three Tier Application Modelling, Web application programming, HTML and CSS, Creating and Styling HTML5 Pages, JavaScript, ASP.NET Web Application Development State Management, Customizing Web Applications Designing and Implementing Databases with MS SQL Server 2014, ADO.NET Data Controls, Crystal Report, ASP.NET Ajax, Web Services, JQuery, Validation, Bootstrap, Handling Emails, Deployment ASP.NET Web Hosting.
                            </p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/net.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>ASP.Net</a> </h4>

                                <div class="price"> Software</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>Rating</li>
                                </ul> 

                                <p> .NET Frameworks, Web Programming Concepts, C# Advanced Features, LINQ Windows application programming, [. . .]</p>
                            </div><!-- /.course-content -->
                        </div>


                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                • Enabling Technologies and System Models for Cloud Computing
                                • Introduction to Cloud Computing including benefits, challenges, and risks
                                • Cloud Computing Models including Infrastructure/Platform/Software – as-a-service
                                • Public cloud, private cloud and hybrid clouds
                                • Cloud OS
                                • Cloud Architectures including Federated Clouds
                                • Scalability, Performance, QoS
                                • Data centers for Cloud Computing
                                • Principles of Virtualization platforms
                                • Security and Privacy issues in the Cloud
                                • VMWare ESX Memory Management
                                • Capacity Planning and Disaster Recovery in Cloud Computing
                            </p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/cloud.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>Cloud Computing </a> </h4>

                                <div class="price"> Software</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>Rating</li>
                                </ul> 

                                <p>  Enabling Technologies and System Models for Cloud Computing, Introduction to Cloud Computing including benefits [. . .].</p>
                            </div><!-- /.course-content -->
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                Introduction to JQuery. Implement JQuery in Web Application. Working with Jquery Events. Working with JQuery Animation. Implementing Jquery UI. jQuery Validation. jQuery Data transition. jQuery data transition using Ajax and JSON.
                            </p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/jquery.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>Jquery </a> </h4>

                                <div class="price"> Software</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>Rating</li>
                                </ul> 

                                <p>  Introduction to JQuery. Implement JQuery in Web Application. Working with Jquery Events. Working with JQuery Animation.  [. . .].</p>
                            </div><!-- /.course-content -->
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">The internet of things is the internetworking of physical devices, vehicles, buildings and other items—embedded with electronics,software, sensors, actuators, and network connectivity that enable these objects to collect and exchange data. In 2013 the Global Standards Initiative on Internet of Things (IoT-GSI) defined the IoT as "the infrastructure of the information society." The IoT allows objects to be sensed and/or controlled remotely across existing network infrastructure, creating opportunities for more direct integration of the physical world into computer-based systems, and resulting in improved efficiency, accuracy and economic benefit. When IoT is augmented with sensors and actuators, the technology becomes an instance of the more general class of cyber-physical systems, which also encompasses technologies such as smart grids, smart homes, intelligent transportation and smart cities. Each thing is uniquely identifiable through its embedded computing system but is able to interoperate within the existing Internet infrastructure. Experts estimate that the IoT will consist of almost 50 billion objects by 2020.</p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/iot.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>Internet of Things </a> </h4>

                                <div class="price"><span style="font-family: initial;"></span> Embedded</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>25 Reviews</li>
                                </ul> 

                                <p>  The internet of things is the internetworking of physical devices, vehicles, buildings and other [. . .].</p>
                            </div><!-- /.course-content -->
                        </div>


                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">Printed Circuit Boards (PCB) are inevitable part of any electronics prodiuct. Our workshop is very systematically designed so that the students can understand the basics well, can do programming of its various peripherals and special features. Our workshop is purely hands-on and the students can write the code by their-own, test it using Simulator and final testing using PIC trainer kits.</p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>
                                <a><img src="images/index/pcb.jpg" alt="Course1"></a>
                            </div>
                            <div class="course-content">
                                <h4><a>PCB Fabrication </a> </h4>
                                <div class="price"><span style="font-family: initial;"></span> Embedded</div>
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li>25 Reviews</li>
                                </ul> 
                                <p>  Printed Circuit Boards (PCB) are inevitable part of any electronics prodiuct. Our workshop is very systematically [. . .].</p>
                            </div>
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                                Beyond the Hype - Big Data Skills and Sources of Big Data, Big Data Adoption, What is Big Data - Characteristics of Big Data - The Four V's, Understanding Big Data with Examples, The Big Data Platform - Key aspects of a Big Data Platform, Governance for Big Data, Five High Value Big Data Use Cases - Overview of High Value Big Data Use Cases, Examples, Technical Details of Big Data Components - Text Analytics and Streams, Cloud and Big Data.
                            </p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>
                                <a><img src="images/index/bigdata.jpg" alt="Course1"></a>
                            </div>
                            <div class="course-content">
                                <h4><a>Big Data  </a> </h4>
                                <div class="price"> Software</div>
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li>Rating</li>
                                </ul> 
                                <p>  Beyond the Hype - Big Data Skills and Sources of Big Data, Big Data Adoption, What is Big Data - Characteristics [. . .].</p>
                            </div>
                        </div>

                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">
                               SQL, SQL Plus, Database, Objects, SQL DBA, SQL Plus, Database Objects, Objects Type, Developer 6.0, Featuring Forms, Reports
                            </p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>
                                <a><img src="images/index/oracle.jpg" alt="Course1"></a>
                            </div>
                            <div class="course-content">
                                <h4><a>Oracle 10g with Developer</a> </h4>
                                <div class="price"> Software</div>
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <li>Rating</li>
                                </ul> 
                                <p>  SQL, SQL Plus, Database, Objects, SQL DBA, SQL Plus, Database Objects, Objects Type, Developer 6.0  [. . .].</p>
                            </div>
                        </div>