                        <div class="flat-course flat-hover-zoom">
                            <p class="course-detail-content hidden">There are some famous wireless technologies which are useful in day to day life. Interfacing these technologies is not at all a tedious task. Clearly understanding its working and associated circuits and output is necessary. Students need to use these for their academic projects and all. So, learning the interfacing of different technologies are necessary. So, we designed this workshop to teach how to interface these technologies with microcontroller</p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/wirelesstech.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>Wireless Technology</a> </h4>

                                <div class="price"><span style="font-family: initial;"></span> Embedded</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>25 Reviews</li>
                                </ul> 

                                <p> There are some famous wireless technologies which are useful in day to day life. Interfacing these technologies  [. . .].</p>
                            </div><!-- /.course-content -->
                        </div>

                         <div class="flat-course flat-hover-zoom">
                         <p class="course-detail-content hidden">Microcontrollers are an inevitable part of a mixed circuit design. They are ‘the brain of the systems’ and has a huge application in almost all areas like embedded systems, power electronics, modern Electrical systems, instruments etc. Engineers in fields such as electronic, electrical systems, instrumentation etc should learn microcontrollers and its programming for their works to complete. So learning microcontroller programming during the graduation course will be very good for the career of students. And, even the academic projects need some control circuitry. </p>
                            <div class="featured-post">             
                                <div class="overlay">
                                    <div class="link"></div>
                                </div>

                                <a><img src="images/index/pic.jpg" alt="Course1"></a>
                            </div><!-- /.featured-post -->

                            <div class="course-content">
                                <h4><a>PIC Micro controller</a> </h4>

                                <div class="price"><span style="font-family: initial;"></span> Embedded</div>    
                                
                                <ul class="course-meta review">
                                    <li class="review-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                    <li>25 Reviews</li>
                                </ul> 

                                <p> Microcontrollers are an inevitable part of a mixed circuit design. They are ‘the brain   of the systems’ and has a huge [. . .]</p>
                            </div><!-- /.course-content -->
                        </div>
          